@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    line-height: 1.7em;
}

/*Header Kod*/
header {
    height: 120px;
    border: solid white 2px;
    background-color: rgb(33,32,55);
}

#areas{
width: 99%;
height: 100%;
display: flex;
align-items: center;
justify-content: space-evenly;
}

#left-area {
width: 33%;
display: flex;
justify-content: left;
}

#middle-area {
width: 33%;
display: flex;
justify-content: center;
}

#right-area {
width: 33%;
display: flex;
justify-content: center;
}

header img{
    height: 40px;
    width: auto;
    margin-left: 30px;
}

header img:hover{
    cursor: pointer;
}

footer img{
    height: 40px;
    width: auto;
    margin-left: 30px;
}

footer img:hover {
    cursor: pointer;
}

h1{
    font-family: 'Arvo', serif;
    color: white;
}
/*Footer Kod*/
footer{
    background-color: rgb(33,32,55);
    height: 300px;
    border: solid white 2px;
}

#footer_setup{
    display: flex;
    justify-content: space-around;
}

footer p {
    font-size: 18px;
    margin: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

footer h3 { 
    font-size: 22px;
    margin: 50px 5px 20px 5px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

footer #logos {
    height: 25px;
    width: auto;
    margin-left: 10px;
}

footer p:hover {
    cursor: pointer;
}

/*"Generell" Kod*/

/*Indexsidan*/
a{
    text-decoration: none;
    color: white;
}

#huvudbild {
    width: 100%;
    border: solid white 1px;
}

#gridwrapper1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 350px 250px;
    grid-template-areas: 
    "tp dp"
    "me me"
    "ti ti";
}

#trainingplans {
    grid-area: tp;
    align-items: center;
    display: grid;
    flex-direction: column;
    justify-content: center;
    border: solid white 1px;
    background-color: rgb(80,77,133);
}

#dietplans {
    grid-area: dp;
    align-items: center;
    display: grid;
    flex-direction: column;
    justify-content: center;
    border: solid white 1px;
    background-color: rgb(80,77,133);
}

.overview-pics {
    width: 800px;
    justify-content: space-evenly;
    display: flex;
}

.overview-pics img{
    height: 168px;
    margin-top: 50px;
    border: solid white 1px;
    border-radius: 10px;
    filter: blur(1.5px);
}

.plantext {
    justify-content: space-evenly;
    display: flex;
    font-size: large;
}

.preview_button {
    justify-content: center;
    display: flex;    
}

button {
    width: 250px;
    height: 60px;
    border: black solid 2px;
    border-radius: 30px;
    margin: 10px 0px 10px 0px;
}

button:hover {
    cursor: pointer;
}

h3 {
    text-align: center;
    color: white;
    margin: 10px 0px 10px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    color: white;
    margin-bottom: 10px;
}

#textbox{
    background-color: rgb(33,32,55);
    border: solid white 1px;
    text-align: center;
}

#meals{ 
    grid-area: me;  
    border: solid white 1px;
    background-color: rgb(33,32,55);
    text-align: center;
}

#meals img{
    width: 300px;
    height: auto;
    margin: 0px 15px 0px 15px;
    border: white solid 1px;
    border-radius: 10px;
    transition: 0.5s;
}

#meals img:hover {
    cursor: pointer;
    transform: scale(1.02);
}



#tips {
    grid-area: ti;
    border: solid white 1px;
    background-color: rgb(80,77,133);
    text-align: center;
}

#tips img {
    border: white solid 1px;
    border-radius: 10px;
    margin: 5px 150px 0px 150px;
}

#tips img:hover {
    cursor: pointer;
}

/*Träningssida*/
#gridwrapper2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    grid-template-areas: 
    "byn tpd tpd"
    "pri tpd tpd"
    "exe exe exe";
}

#buyinginfo {
    grid-area: byn;
    background-color: rgb(33,32,55);
    border: solid white 2px;
    border-radius: 10px;
}

#buyinginfo p {
    margin: 10px;
    line-height: 1.3em;
}

#programinformation {
    grid-area: pri;
    background-color: rgb(33,32,55);
    border: solid white 2px;
    border-radius: 10px;
}

#programinformation p {
    margin: 10px;
    line-height: 1.3em;
}

#trainingprogramdisplay {
    grid-area: tpd;
    background-color: rgb(80,77,133);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 250px 250px ;
    grid-template-areas: 
    "he he he he"
    "t1 t2 t3 t4"
    "t5 t6 t7 t8";
    border: solid white 2px;
    border-radius: 10px;
}

#heading {
    grid-area: he;
    font-size: 30px;
}

.heading-text {
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

#trainingprogram1 { 
    grid-area: t1;
    background-color: rgb(33,32,55);
    border: solid white 1px;
    border-radius: 10px;
    width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5px;
    transition: 0.5s;
}

#trainingprogram1:hover {
    transform: scale(1.02);
    cursor: pointer;
}
#trainingprogram2 {
    grid-area: t2;
    background-color: rgb(33,32,55);
    border: solid white 1px;
    border-radius: 10px;
    width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5px;
    transition: 0.5s;
}

#trainingprogram2:hover {
    transform: scale(1.02);
    cursor: pointer;
}

#trainingprogram3 {
    grid-area: t3;
    background-color: rgb(33,32,55);
    border: solid white 1px;
    border-radius: 10px;
    width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5px;
    transition: 0.5s;
}

#trainingprogram3:hover {
    transform: scale(1.02);
    cursor: pointer;
}

#trainingprogram4 {
    grid-area: t4;
    background-color: rgb(33,32,55);
    border: solid white 1px;
    border-radius: 10px;
    width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5px;
    transition: 0.5s;
}

#trainingprogram4:hover {
    transform: scale(1.02);
    cursor: pointer;
}

#trainingprogram5 {
    grid-area: t5;
    background-color: rgb(33,32,55);
    border: solid white 1px;
    border-radius: 10px;
    width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5px;
    transition: 0.5s;
}

#trainingprogram5:hover {
    transform: scale(1.02);
    cursor: pointer;
}

#trainingprogram6 {
    grid-area: t6;
    border: solid white 1px;
    background-color: rgb(33,32,55);
    border-radius: 10px;
    width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5px;
    transition: 0.5s;
}

#trainingprogram6:hover {
    transform: scale(1.02);
    cursor: pointer;
}

#trainingprogram7 {
    grid-area: t7;
    border: solid white 1px;
    background-color: rgb(33,32,55);
    border-radius: 10px;
    width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5px;
    transition: 0.5s;
}

#trainingprogram7:hover {
    transform: scale(1.02);
    cursor: pointer;
}

#trainingprogram8 {
    grid-area: t8;
    background-color: rgb(33,32,55);
    border: solid white 1px;
    border-radius: 10px;
    width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5px;
    transition: 0.5s;
}

#trainingprogram8:hover {
    transform: scale(1.02);
    cursor: pointer;
}

#exercises {
    grid-area: exe;
    background-color: rgb(80,77,133);
    border: solid white 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#miniwrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px ;
    grid-template-areas: 
    "be dd sq";
    border-top: solid white 4px;
    justify-items: center;
}

#bench {
    grid-area: be;
    background-color: rgb(33,32,55);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    border: white solid 1px;
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.5s;
}

#bench:hover {
    transform: scale(1.02);
    cursor: pointer;
}

#deadlift{
    grid-area: dd;
    background-color: rgb(33,32,55);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    border: white solid 1px;
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.5s;
}

#deadlift:hover {
    transform: scale(1.02);
    cursor: pointer;
}

#squat{
    grid-area: sq;
    background-color: rgb(33,32,55);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    border: white solid 1px;
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.5s;
}

#squat:hover {
    transform: scale(1.02);
    cursor: pointer;
}

/*Kostsida*/
#meals2{  
    border: solid white 1px;
    background-color: rgb(80,77,133);
    text-align: center;
    height: 300px;
}

#meals2 img{
    width: 300px;
    height: auto;
    margin: 0px 20px 0px 20px;
    border: white solid 1px;
    border-radius: 10px;
    transition: 0.5s;   
}

#meals2 img:hover {
    cursor: pointer;
    transform: scale(1.02);
}

#dietplandisplay {
    background-color: rgb(80,77,133);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 250px 250px ;
    grid-template-areas: 
    "he he he he"
    "t1 t2 t3 t4"
    "t5 t6 t7 t8";
    border: solid white 2px;
    border-radius: 10px;
    height: 630px;
}

#dietprogram1 { 
    grid-area: t1;
    background-color: rgb(33,32,55);
    border: solid white 1px;
    border-radius: 10px;
    width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 80px 5px 80px;
    transition: 0.5s;
    
}

#dietprogram1:hover {
    transform: scale(1.02);
    cursor: pointer;
}
#dietprogram2 {
    grid-area: t2;
    background-color: rgb(33,32,55);
    border: solid white 1px;
    border-radius: 10px;
    width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 80px 5px 80px;
    transition: 0.5s;
}

#dietprogram2:hover {
    transform: scale(1.02);
    cursor: pointer;
}

#dietprogram3 {
    grid-area: t3;
    background-color: rgb(33,32,55);
    border: solid white 1px;
    border-radius: 10px;
    width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 80px 5px 80px;
    transition: 0.5s;
}

#dietprogram3:hover {
    transform: scale(1.02);
    cursor: pointer;
}

#dietprogram4 {
    grid-area: t4;
    background-color: rgb(33,32,55);
    border: solid white 1px;
    border-radius: 10px;
    width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 80px 5px 80px;
    transition: 0.5s;
}

#dietprogram4:hover {
    transform: scale(1.02);
    cursor: pointer;
}

#dietprogram5 {
    grid-area: t5;
    background-color: rgb(33,32,55);
    border: solid white 1px;
    border-radius: 10px;
    width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px 80px 0px 80px;
    transition: 0.5s;
}

#dietprogram5:hover {
    transform: scale(1.02);
    cursor: pointer;
}

#dietprogram6 {
    grid-area: t6;
    border: solid white 1px;
    background-color: rgb(33,32,55);
    border-radius: 10px;
    width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px 80px 0px 80px;
    transition: 0.5s;
}

#dietprogram6:hover {
    transform: scale(1.02);
    cursor: pointer;
}

#dietprogram7 {
    grid-area: t7;
    border: solid white 1px;
    background-color: rgb(33,32,55);
    border-radius: 10px;
    width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px 80px 0px 80px;
    transition: 0.5s;
}

#dietprogram7:hover {
    transform: scale(1.02);
    cursor: pointer;
}

#dietprogram8 {
    grid-area: t8;
    background-color: rgb(33,32,55);
    border: solid white 1px;
    border-radius: 10px;
    width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px 80px 0px 80px;
    transition: 0.5s;
}

#dietprogram8:hover {
    transform: scale(1.02);
    cursor: pointer;
}

#diet_information{
    background-color: rgb(80,77,133);
    height: 200px;
}

#diet_information h3{
    margin-top: 4px;
    text-decoration: underline;
}

#diet_information p {
    text-align: center;
    margin: 0px 15px 0px 15px;
    line-height: 1.3em;
}

/*Hamburgermeny*/
  
#hamburger {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

#hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 10%;
    transition: all 0.5s;
}
  
#menu {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 250px;
    background-color: rgb(33,32,55);
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: -600px;
    left: 2px;
    border-bottom: solid 2px white;
    border-right: solid 2px white;
}
  
#menu li {
    list-style: none;
}
  
#menu a {
    text-decoration: none;
    font-size: 1.25rem;
    color: white;
    font-weight: bold;
}

.toggle_hamburger #line1 {
    transform: rotate(-45deg) translate(-5px, 10px);
}

.toggle_hamburger #line2 {
    opacity: 0;
}

.toggle_hamburger #line3 {
    transform: rotate(45deg) translate(-5px, -10px);
}

.activate_menu {
    transform: translateY(718px);
}

/*Informationssida*/
#gridwrapper3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 500px 300px;
    grid-template-areas: 
    "gua gua ter ter his his"
    "abo abo abo mis mis mis";
    background-color: rgb(80,77,133);
    border: solid white 2px;
}

#gridwrapper3 h2 {
    color: white;
    margin: 10px 0px 10px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

#gridwrapper3 h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

#guarantees {
    grid-area: gua;
    text-align: center;
    background-color: rgb(33,32,55);
    border: solid white 1px;
    margin: 20px 10px 30px 10px;
    border-radius: 30px;
}

#terms_of_purchase {
    grid-area: ter;
    text-align: center;
    background-color: rgb(33,32,55);
    border: solid white 1px;
    margin: 20px 10px 30px 10px;
    border-radius: 30px;
}

#history {
    grid-area: his;
    text-align: center;
    background-color: rgb(33,32,55);
    border: solid white 1px;
    margin: 20px 10px 30px 10px;
    border-radius: 30px;
}

#history img{
    width: 500px;
}

#about {
    grid-area: abo;
    text-align: center;
    border: solid white 1px;
}

#about p {
    margin: 0px 15px 0px 15px;
    line-height: 1.3em;
}

#our_mission {
    grid-area: mis;
    text-align: center;
    border: solid white 1px;
}

#our_mission p {
    margin: 0px 15px 0px 15px;
    line-height: 1.3em;
}

#rating {
    background-color: rgb(80,77,133);
    border: solid white 2px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
}

#rating h2 {
    color: white;
    margin: 10px 0px 10px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

.stars {
    display: flex;
    justify-content: center;
    border: solid white 2px;
    width: 500px;
    border-radius: 30px;
}

/*Mediaaquiers*/