@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    line-height: 1.7em;
}

/* Mobile layout */
@media screen and (min-width: 800px) {

    header {
        height: 80px;
        width: auto;
    }

    #areas {
        align-items: center;
    }

    #left-area, #middle-area, #right-area {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    #left-area {
        margin-top: 10px;
    }

    #logos {
        height: 30px;
        margin-left: 10px;
    }

    footer {
        height: auto;
        padding: 20px;
    }

    footer h3 {
        margin-top: 20px;
    }

    #burger{
        display: none;
    }

    #burger{
        display: none;
    }

    #nav-links {
        flex-direction: row;
        height: 80px;
        width: 100%;
        background-color: lightgreen;
        top: 0px;

    }

    .nav_active {
        transform: none;
    }
}

/* Desktop layout */
/*Header kod*/
header {
    height: 120px;
    border: solid black 2px;
    background-color: rgb(33,32,55);
}

#areas{
    width: 99%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#left-area {
    width: 33%;
    display: flex;
    justify-content: space-evenly;
}

#middle-area {
    width: 33%;
    display: flex;
    justify-content: center;
}

#right-area {
    width: 33%;
    display: flex;
    justify-content: center;
}

#logos{
    height: 40px;
    width: auto;
    margin-left: 30px;
}

#logos:hover{
    cursor: pointer;
}

h1{
    font-family: 'Arvo', serif;
    color: white;
}
/*Hamburgermeny*/
#burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;
}

#nav-links{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 200px;
    background-color: rgb(33,32,55);
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: -500px;
    border: black solid 2px;
}

#nav-links li {
    list-style: none;
}

#nav-links a {
    text-decoration: none;
    font-size: 1.25rem;
    letter-spacing: 0.1875rem;
    color: White;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-transform: uppercase;
}

#burger {
    margin-right: 50px;
    cursor: pointer;
}

.burger_toggle #burger_line_1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger_toggle #burger_line_2 {
opacity: 0;
}

.burger_toggle #burger_line_3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.nav_active{
    transform: translateY(580px);
}

#nav-links a:hover {
    background: cyan;
}



/*Footer Kod*/
footer{
    background-color: rgb(33,32,55);
    height: 300px;
    border: solid black 2px;
}

#footer_setup{
    display: flex;
    justify-content: space-around;
}

footer p {
    font-size: 18px;
    margin: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

footer h3 { 
    font-size: 22px;
    margin: 50px 5px 20px 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

footer #logos {
    height: 25px;
    width: auto;
    margin-left: 10px;
}

/*Generell kod*/
a{
    text-decoration: none;
    color: white;
}
