@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    line-height: 1.7em;
}

/*Header Kod*/
header {
    height: 120px;
    border: solid white 2px;
    background-color: rgb(33,32,55);
}

#areas{
width: 99%;
height: 100%;
display: flex;
align-items: center;
justify-content: space-evenly;
}

#left-area {
width: 33%;
display: flex;
justify-content: space-evenly;
}

#middle-area {
width: 33%;
display: flex;
justify-content: center;
}

#right-area {
width: 33%;
display: flex;
justify-content: center;
}

#logos{
    height: 40px;
    width: auto;
    margin-left: 30px;
}

#logos:hover{
    cursor: pointer;
}

h1{
    font-family: 'Arvo', serif;
    color: white;
}
/*Footer Kod*/
footer{
    background-color: rgb(33,32,55);
    height: 300px;
    border: solid white 2px;
}

#footer_setup{
    display: flex;
    justify-content: space-around;
}

footer p {
    font-size: 18px;
    margin: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

footer h3 { 
    font-size: 22px;
    margin: 50px 5px 20px 5px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

footer #logos {
    height: 25px;
    width: auto;
    margin-left: 10px;
}

footer p:hover {
    cursor: pointer;
}

/*"Generell" Kod*/
a{
    text-decoration: none;
    color: white;
}

#huvudbild {
    width: 100%;
}

#gridwrapper1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 200px 200px;
    grid-template-areas: 
    "tp dp"
    "me me"
    "ti ti";
}

#trainingplans {
    grid-area: tp;
    align-items: center;
    display: grid;
    flex-direction: column;
    justify-content: center;
    border: solid white 1px;
    background-color: rgb(80,77,133);
}

#dietplans {
    grid-area: dp;
    align-items: center;
    display: grid;
    flex-direction: column;
    justify-content: center;
    border: solid white 1px;
    background-color: rgb(80,77,133)
}

#meals{ 
    grid-area: me;  
    border: solid white 1px;
    background-color: rgb(33,32,55)
}

#tips {
    grid-area: ti;
    border: solid white 1px;
    background-color: rgb(80,77,133)
}

#planpicture {
    height: 168px;
    margin-top: 50px;
}

#overview-pics {
    
    width: 800px;
    justify-content: space-evenly;
    display: flex;
}

#plantext {
    justify-content: space-evenly;
    display: flex;
    
    font-size: large;
}

#preview_button {
    justify-content: center;
    display: flex;
    
}

button {
    width: 250px;
    height: 60px;
    border: black solid 2px;
    border-radius: 30px;
}

button:hover {
    cursor: pointer;
}

h3 {
    text-align: center;
    color: white;
}

p {
    color: white;
}

#textbox{
    background-color: rgb(33,32,55);
    text-align: center;
}